
@{
    ViewData["Title"] = "Update";
}
@model HomeUpdateDto
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <input hidden asp-for="@Model.getDto.Id" />
                        <label>Name</label>
                        <input type="text" class="form-control" asp-for="@Model.postDto.Title" value="@Model.getDto.Title" placeholder="Name">
                        <span asp-validation-for="@Model.postDto.Title"></span>
                    </div>
                    <div class="form-group">
                        <label>Position</label>
                        <input type="text" class="form-control" asp-for="@Model.postDto.Slogan" value="@Model.getDto.Slogan" placeholder="Position">
                        <span asp-validation-for="@Model.postDto.Slogan"></span>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input class="form-control" asp-for="@Model.postDto.formFile" placeholder="Image">
                        <span asp-validation-for="@Model.postDto.formFile"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
